{% extends "base.html" %}

{% block content %}
<?xml version='1.0' encoding='UTF-8'?>

<div class="view">
    <!----------------------------------------------------------------------------------- HOME BLOCK 0 ------------------------------------------------------------------------------------>
    <div class="home-container0 block">
        <div class="home-left-column">
            <div class="home-plot-container slide-in-left">
                <iframe class="home-plot" src="/home_plot/"></iframe>
            </div>
        </div>
        <div class="home-right-column slide-in-right">
            <h1 class="crimson-text-bold-italic text-align-left"><div class="no-line-break crimson-text-bold  letter-title">C</div>ientífico de Datos</h1>
            <p class="home-about-me-text helvetica-text-regular">
                Programador con <strong>+2 años de experiencia</strong> analizando datos y creando modelos predictivos.
                <br>
                <br>
                (REDUCIR TEXTO)
                Especializado en Analítica Avanzada e Inteligencia Artificial. Entrego soluciones en diferentes áreas como la optimización de procesos, la predicción de tendencias y la mejora de la toma de decisiones estratégicas.
                
                <br>
                <br>
                Principalmente trabajo con:
                <div class="home-lenguajes helvetica-text-regular">
                    <div>
                        <i class="fa-brands fa-python"></i>
                        <strong>Python</strong>
                    </div>
                    <div>
                        <i class="fa-solid fa-database"></i>
                        <strong>SQL</strong>
                    </div>
                    <div>
                        <i class="fa-brands fa-git-alt"></i>
                        <strong>Git</strong>
                    </div>
                </div>
            </p>
        </div>
    </div>
    <!----------------------------------------------------------------------------------- HOME BLOCK 1 ------------------------------------------------------------------------------------>
    <div class="home-container1">
        <div class="home-left-column slide-in-left">
            <h1 class="crimson-text-bold-italic text-align-left"><div class="no-line-break crimson-text-bold  letter-title">S</div>obre mí</h1>
            <p class="home-about-me-text helvetica-text-regular">
                Soy científico de datos en <strong>DataQu</strong>, donde colaboro con un equipo de desarrolladores. 
                <br>
                <br>
                (REDUCIR TEXTO)
                Mis funciones abarcan todo el proceso: desde la <strong>extracción</strong> de datos y su <strong>análisis</strong>, hasta la creación de <strong>modelos</strong> predictivos y su <strong>implementación</strong> en la web. En mi tiempo libre participo en competencias de Kaggle, creo scripts y páginas web.

            </p>
            <p class="home-about-me-text helvetica-text-regular">
                Habilidades:
                <div class="home-habilidades helvetica-text-regular">
                    <div>
                        <i class="fa-solid fa-code logo logo-habilidad"></i>
                        <p class="logo-description logo-description-habilidad">Programación</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-chart-line logo logo-habilidad"></i>
                        <p class="logo-description logo-description-habilidad">Análisis de Datos</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-brain logo logo-habilidad"></i>
                        <p class="logo-description logo-description-habilidad">Inteligencia Artificial</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-subscript logo logo-habilidad"></i>
                        <p class="logo-description logo-description-habilidad">Estadísticas</p>
                    </div>
                </div>
            </p>
        </div>
        <div class="home-right-column slide-in-right">
            <div class="home-profile-picture-container">
                <img class="home-profile-picture" src="static/images/foto-perfil-blanco-negro.png" alt="Cristóbal Torres RR">
                <p class="home-profile-picture-description">Cristóbal Torres Rojas - Chile, 2024</p>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------- HOME BLOCK 2 ------------------------------------------------------------------------------------>
    <div class="home-container2">
        <div class="home-left-column slide-in-left">
            <div class="home-plot-container slide-in-left">
                <iframe class="second-plot" src="/second_plot/"></iframe>
            </div>
        </div>
        <div class="home-right-column slide-in-right">
            <h1 class="crimson-text-bold-italic text-align-left"><div class="no-line-break crimson-text-bold  letter-title">E</div>xperiencia</h1>
            <p class="home-about-me-text">
                DataQu, 2022-2024
                <br>
                <br>
                Soy científico de datos en <strong>DataQu</strong>, donde colaboro con un equipo de desarrolladores.
            </p>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------- HOME BLOCK 3 ------------------------------------------------------------------------------------>
    <div class="home-container3">
        <div class="home-left-column slide-in-left">
            <div class="two-rows-division">
                <div class="row-box">
                    <img src="static/images/test_image1.png" class="experiencia1-image">
                </div>
                <div class="row-box">
                    <img src="static/images/test_image1.png" class="experiencia1-image">
                </div>
            </div>
        </div>
        <div class="home-right-column slide-in-right">
            <div class="two-rows-division">
                <div class="row-box">
                    <h2>Experiencia 1</h2>
                    <p class="home-profile-picture-description">
                        asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf
                    </p>
                </div>
                <div class="row-box">
                    <h2>Experiencia 2</h2>
                    <p class="home-profile-picture-description">
                        asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}