{% extends "base.html" %}

{% block content %}
<?xml version='1.0' encoding='UTF-8'?>

<div class="view">
    <!----------------------------------------------------------------------------------- HOME BLOCK 0 ------------------------------------------------------------------------------------>
    <div class="home-container0 block">
        <div class="home-left-column">
            <div class="home-plot-container slide-in-left">
                <iframe class="home-plot" src="/home_plot/"></iframe>
            </div>
        </div>
        <div class="home-right-column slide-in-right">
            <h1 class="crimson-text-bold-italic text-align-left"><div class="no-line-break crimson-text-bold  letter-title">C</div>ientífico de Datos</h1>
            <p class="home-about-me-text helvetica-text-regular">
                Programador con <strong>+2 años de experiencia</strong> analizando datos y creando modelos predictivos.
                <br>
                <br>
                Especialista en Analítica Avanzada e IA, enfocado en optimización de procesos, predicción de tendencias y decisiones estratégicas.
                <br>
                <br>
                Principalmente trabajo con:
                <div class="home-lenguajes helvetica-text-regular">
                    <div>
                        <i class="fa-brands fa-python"></i>
                        <strong>Python</strong>
                    </div>
                    <div>
                        <i class="fa-solid fa-database"></i>
                        <strong>SQL</strong>
                    </div>
                    <div>
                        <i class="fa-brands fa-git-alt"></i>
                        <strong>Git</strong>
                    </div>
                </div>
            </p>
        </div>
    </div>
    <!----------------------------------------------------------------------------------- HOME BLOCK 1 ------------------------------------------------------------------------------------>
    <div class="home-container1">
        <div class="home-left-column slide-in-left">
            <h1 class="crimson-text-bold-italic text-align-left"><div class="no-line-break crimson-text-bold  letter-title">S</div>obre mí</h1>
            <p class="home-about-me-text helvetica-text-regular">
                Científico de datos en <strong>DataQu</strong>.
                <br>
                <br>
                Colaboro con desarrolladores de distintas áreas.
                <br>Y trabajo con personas fuera del ámbito tecnológico, que buscan entender el funcionamiento de los modelos de IA, y las conclusiones a partir de los datos.

            </p>
            <p class="home-about-me-text helvetica-text-regular">
                Habilidades:
                <div class="home-habilidades helvetica-text-regular">
                    <div>
                        <i class="fa-solid fa-code logo logo-habilidad"></i>
                        <p class="logo-description logo-description-habilidad">Programación</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-chart-line logo logo-habilidad"></i>
                        <p class="logo-description logo-description-habilidad">Análisis de Datos</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-brain logo logo-habilidad"></i>
                        <p class="logo-description logo-description-habilidad">Inteligencia Artificial</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-subscript logo logo-habilidad"></i>
                        <p class="logo-description logo-description-habilidad">Estadísticas</p>
                    </div>
                </div>
            </p>
        </div>
        <div class="home-right-column slide-in-right">
            <div class="home-profile-picture-container">
                <img class="home-profile-picture" src="static/images/resized-foto-perfil-bn.png" alt="Cristóbal Torres RR">
                <p class="home-profile-picture-description">Cristóbal Torres Rojas - Chile, 2024</p>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------- HOME BLOCK 2 ------------------------------------------------------------------------------------>
    <div class="home-container2">
        <div class="home-left-column slide-in-left">
            <div class="home-plot-container slide-in-left">
                <iframe class="second-plot" src="/second_plot/"></iframe>
            </div>
        </div>
        <div class="home-right-column slide-in-right">
            <h1 class="crimson-text-bold-italic text-align-left"><div class="no-line-break crimson-text-bold  letter-title">E</div>xperiencia</h1>
            <p class="home-about-me-text helvetica-text-regular">
                <strong>DataQu</strong>
                <br>
                2022 - actualidad
                <br>
                
                <div style="text-align: left; padding: 0 1rem;" class="helvetica-text-regular">
                    Principales funciones:
                    <br>
                    <br>
                    <!-- <ul style="padding-left: 0; margin-left: 0; list-style-position: inside;"> -->
                    <ul style="list-style-position: inside; width: fit-content; margin: 0 auto;"></ul>
                    <li><strong>extracción</strong> de datos,</li>
                    <li><strong>análisis</strong> de datos,</li>
                    <li><strong>modelamiento</strong> con Machine Learning e </li>
                    <li><strong>implementación</strong> en ambientes web y en apps.</li>
                    </ul>
                </div>
            </p>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------- HOME BLOCK 3 ------------------------------------------------------------------------------------>
    <div class="home-container3">
        <h1 class="crimson-text-bold-italic"><div class="no-line-break crimson-text-bold letter-title">P</div>royectos</h1>
        <!-- BOX 1 -->
        <div class="box box1">
            <div class="home-left-column slide-in-left">
                <div class="slider-frame">
                    <img class="imagen-proyecto" src="static/project-images/bn_proteger-1.png">
                </div>
            </div>
            <div class="home-right-column slide-in-right text-align-left helvetica-text-regular right-margin-16">
                <div class="subtitle-proyecto">DataQu</div>
                <strong>IA que predice condiciones de tratamiento para pacientes con cáncer</strong>
                <br>
                <p class="sub-descripcion-box">
                    El modelo consiste en un ensamble de 5 sub-modelos. Se entrenó con data recolectada por personal médico, alcanzando una especificidad de 80% en data nueva.
                    Se integró en la plataforma web, para que los médicos puedan ingresar pacientes y obtener las predicciones en tiempo real.
                </p>
                <div class="home-proyectos-logos helvetica-text-regular">
                    Frameworks: &nbsp;&nbsp;&nbsp; Numpy &nbsp; - &nbsp; Pandas &nbsp; - &nbsp; Matplotlib &nbsp; - &nbsp; Scikit-Learn &nbsp; - &nbsp; XGBoost &nbsp; - &nbsp; Flask
                </div>
            </div>
        </div>
        <!-- BOX 2 -->
        <div class="box box1">
            <div class="home-left-column slide-in-left">
                <div class="slider-frame">
                    <img class="imagen-proyecto" src="static/project-images/bn_umar-1.png">
                </div>
            </div>
            <div class="home-right-column slide-in-right text-align-left helvetica-text-regular right-margin-16">
                <div class="subtitle-proyecto">DataQu</div>
                <strong>IA que identifica perfiles y condicionantes en accidentes portuarios</strong>
                <br>
                <p class="sub-descripcion-box">
                    Se procesa un listado con 10.000 accidentes a los que se le atribuyen 36 posibles perfiles y 50 posibles condicionantes.
                    Se entrenó utilizando los modelos <strong>phi</strong>, <strong>Llama</strong> y <strong>GPT-4</strong>, tanto en sus versiones locales como en la nube.
                    El modelo alcanzó un F1 ponderado de 90% en la detección de perfiles y de 80% en la identificación de condicionantes.
                </p>
                <div class="home-proyectos-logos helvetica-text-regular">
                    Frameworks: &nbsp;&nbsp;&nbsp; Numpy &nbsp; - &nbsp; Pandas &nbsp; - &nbsp; Matplotlib &nbsp; - &nbsp; HuggingFace &nbsp; - &nbsp; PyTorch
                </div>
            </div>
        </div>
        <!-- BOX 3 -->
        <div class="box box1">
            <div class="home-left-column slide-in-left">
                <div class="slider-frame">
                    <img class="imagen-proyecto" src="static/project-images/bn_colla-1.png">
                </div>
            </div>
            <div class="home-right-column slide-in-right text-align-left helvetica-text-regular right-margin-16">
                <div class="subtitle-proyecto">DataQu</div>
                <strong>IA para maximizar la recuperación de cobre en una minera</strong>
                <br>
                <p class="sub-descripcion-box">
                Se desarrolló un algoritmo de recomendaciones que optimiza las 200 variables del proceso minero (extracción de mezcla, velocidad de moledores, temperatura de celdas, etc).
                Se creó un sistema de identificación y seguimiento de rocas a lo largo del proceso, que dura varios días. 
                El modelo alcanzó un margen de error de 15 minutos en la identificación, logrando un incremento del 10% en la recuperación de cobre.
                </p>
                <div class="home-proyectos-logos helvetica-text-regular">
                    Frameworks: &nbsp;&nbsp;&nbsp; Numpy &nbsp; - &nbsp; Pandas &nbsp; - &nbsp; Matplotlib &nbsp; - &nbsp; Scikit-Learn &nbsp; - &nbsp; XGBoost &nbsp; - &nbsp; LightGBM &nbsp; - &nbsp; CatBoost &nbsp; - &nbsp; Optuna
                </div>
            </div>
        </div>
        <!-- BOX 4 -->
        <div class="box box1">
            <div class="home-left-column slide-in-left">
                <div class="slider-frame">
                    <img class="imagen-proyecto" src="static/project-images/bn_btc-1.png">
                </div>
            </div>
            <div class="home-right-column slide-in-right text-align-left helvetica-text-regular right-margin-16">
                <div class="subtitle-proyecto">Independiente</div>
                <strong>IA para el análisis de tendencias en la Bitcoin</strong>
                <br>
                <p class="sub-descripcion-box">
                    Se creó un algoritmo que carga y actualiza el precio del Bitcoin a tiempo real con la API de Kraken. Se realiza un análisis con los indicadores financieros más comunes, y se comparan con los resultados de modelos de tendencias.
                    Los resultados se visualizan en un dashboard interactivo, que se actualiza cada 15 minutos.
                </p>
                <div class="home-proyectos-logos helvetica-text-regular">
                    Frameworks: &nbsp;&nbsp;&nbsp; Numpy &nbsp; - &nbsp; Pandas &nbsp; - &nbsp; Plotly &nbsp; - &nbsp; Dash &nbsp; - &nbsp; Fastapi &nbsp; - &nbsp; Scikit-Learn
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------- HOME BLOCK 4 ------------------------------------------------------------------------------------>
    <div class="home-container4">
        <div class="home-left-column slide-in-left">
            <h1 class="crimson-text-bold-italic text-align-left"><div class="no-line-break crimson-text-bold  letter-title">E</div>studios</h1>
            
            <p class="home-about-me-text helvetica-text-regular">
                <br>
                <ul class="text-align-left">
                    <li>
                        <h3>Magíster en Matemáticas - PUCV, Chile</h3>
                        <p>2018-2020</p>

                    </li>
                    <br>
                    <li>
                        
                        <h3>Licenciatura en Matemáticas - PUCV, Chile</h3>
                        <p>2013-2017</p>
                    </li>
                  </ul>
            </p>
        </div>
        <div class="home-right-column slide-in-right">
            <div class="home-profile-picture-container">
                <img src="static/images/test_image1.png" class="experiencia1-image">
            </div>
        </div>
    </div>
</div>
{% endblock %}