{% extends "base.html" %}

{% block content %}
<section>
    <h2>Sobre Mí</h2>
    <p>
        Soy un apasionado de la ciencia de datos y el aprendizaje automático. A lo largo de mi carrera, he desarrollado modelos y soluciones para problemas complejos, buscando siempre un enfoque práctico y basado en datos.
    </p>
</section>

<section>
    <h2>Proyectos</h2>
    <div class="project">
        <h3>Proyecto 1: Análisis Predictivo</h3>
        <p>
            Un análisis avanzado que utiliza técnicas de aprendizaje supervisado para predecir resultados clave en el área de finanzas.
        </p>
    </div>
    <div class="project">
        <h3>Proyecto 2: Optimización de Procesos</h3>
        <p>
            Aplicación de modelos de optimización para mejorar la eficiencia en la cadena de suministro de una gran empresa de manufactura.
        </p>
    </div>
</section>

<section>
    <h2>Contacto</h2>
    <p>
        ¿Quieres colaborar o saber más sobre mi trabajo? No dudes en <a href="/contact">ponerte en contacto</a>.
    </p>
</section>

<h1 class="crimson-text-regular">Crimson Text Regular</h1>
<p class="crimson-text-semibold">Este es un texto con Crimson Text en semi-negrita (6_000).</p>
<p class="crimson-text-bold">Este es un texto con Crimson Text en negrita (700).</p>

<p class="crimson-text-regular-italic">Este es un texto con Crimson Text regular en cursiva.</p>
<p class="crimson-text-semibold-italic">Este es un texto con Crimson Text semi-negrita en cursiva.</p>
<p class="crimson-text-bold-italic">Este es un texto con Crimson Text en negrita y cursiva.</p>

<p class="unifrakturmaguntia-regular">Este es un texto con la fuente gótica UnifrakturMaguntia.</p>
{% endblock %}